/* Universal */
body {
    margin: 0;
    font-family: roboto;
}

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

img {
    border-radius: 15px;
}

#hero,
#information,
#quote,
#call,
#footer,
.navbar {
    padding: 0 10rem;
}

/* Navbar */

.navbar {
    margin-bottom: 5rem;
    position: fixed;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    border-bottom: 3px solid #E5E7EB;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding-left: 2rem;
}

/* Hero */

#hero {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#hero {
    padding-top: 5rem;
}

#hero h1 {
    color: #F9FaF8;
    font-size: 48px;
    font-weight: 800;
}

#hero h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.heroBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.heroText {
    width: 25rem;
}

.heroImg {
    width: 35rem;
    height: 20rem;
    object-fit: cover;
    object-position: 0 100%;
}

/* Information */

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.infoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
}

.card {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12rem;
}

.cardImg {
    height: 10rem;
    /* border: 4px solid #3882F6; */
    box-shadow: 0 0 0 4px rgb(47, 68, 98) inset;
    padding: 4px;
    background-color: rgb(47, 68, 98);
}

.cardText {
    margin: 0.5rem;
}

/* Quote */
#quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
}

/* Call */
.signUp,
.callBox {
    background-color: #3882F6;
}

/* Footer */
#footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}