/* Universal */
body {
    margin: 0;
    font-family: roboto;
}

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    border-radius: 15px;
}

h3 {
    font-size: 2rem;
}

#hero,
#information,
#quote,
#call {
    padding: 5rem 10rem;
}

/* Navbar */

.navbar a {
    text-decoration: none;
    color: #F9FAF8;
}

.navbar {
    margin-bottom: 5rem;
    position: fixed;
    background-color: black;
    color: #E5E7EB;
    font-size: 18px;
    border-bottom: 2px solid silver;
    height: 3.5rem;
    padding: 0 10rem;
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding-left: 2rem;
}

.imgLogo {
    width: 4rem;
    border-radius: 0;
    display: flex;
    /* flex:1; */
}

/* Hero */

#hero {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#hero {}

#hero h1 {
    color: #F9FaF8;
    font-size: 48px;
    font-weight: 800;
}

#hero h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.heroTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.heroText {
    width: 25rem;
    flex: 1;
    margin-right: 20px;
}

.heroImg {
    /* width: 35rem; */
    height: 17.5rem;
    object-fit: cover;
    object-position: 0 75%;
    flex: 1;
    margin-left: 20px;
}

#hero a {
    color: #F9FAF8;
}

/* to fix button overlapping on itself when zoomed in */
.signUpBox {
    min-width: 20rem;
    text-align: right;
}

.signUp {
    background: linear-gradient(to bottom, black, 92%, silver);
    border-radius: 10px;
    /* text-shadow: 1px 1px silver; */
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem 1.5rem;
    text-decoration: none;
    align-self: flex-end;
}



/* Information */

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.infoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
}

.card {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 12rem;
}

.cardImg {
    height: 10rem;
    /* border: 4px solid #3882F6; */
    box-shadow: 0 0 0 4px rgb(47, 68, 98) inset;
    padding: 4px;
    background-color: rgb(47, 68, 98);
}

.cardText {
    margin: 0.5rem;
}

/* Quote */
#quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
    align-items: center;
}

.quotes {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
}

.quoteInfo {
    font-size: 25px;
    flex: 1
}

.quoteArmstrong {
    font-style: italic;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
    flex: 5;
    width: 32rem;
    align-self: center;
}

.credArmstrong {
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    text-align: end;
    margin-right: 30px;
}

/* Call */

.callBox {
    background-color: black;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callText {}


.callTextDesc {
    font-size: 16px;
    font-weight: normal;
    margin-top: -1.5rem;

}



.button {
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}


.button:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.signUpBorder {
    border: 2px solid white;
    padding: 0.5rem 2rem;
}

/* Footer */
#footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}